.hero {
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 3)), url("./../public/images/hero.jpg");
    background-size: cover;

}

.hero-container {
    position: absolute;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-container h2 {
    color: #fff;
    font-size: 44px;
}

.hero-container p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 32px;
}